.btn {
  background-color: $mainRed;
  font-size: 1.1rem;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  padding: 0.75rem 1.2rem;
  display: inline-block;
  border-radius: 3px;

  &--ghost {
    background-color: transparent;
    border: 1px solid $mainRed;
    color: $mainRed;

    &:hover {
      background-image: none!important;
      border-color: rgb(150, 41, 43);
      color: rgb(150, 41, 43);
    }
  }

  &:hover {
    background-image: linear-gradient($mainRed, rgb(90, 30, 11));
  }

  &--large {
    padding: 1.1rem 1.9rem;

    @mixin atLarge {
      font-size: 1.2rem;
    }
  }
}
