.large-hero {
  display: grid;
  grid-template-columns: 1fr;

  &__image {
    grid-area: 1/1;
    display: block;
    position: relative;
    width: 100%;
    height: 100vh;

    & img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    &::after {
      position: absolute;
      content: "";
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      background-color: rgba(25, 25, 25, 0.65);
    }
  }

  &__text-content {
    grid-area: 1/1;
    justify-self: center;
    align-self: center;
    text-align: center;
    width: 100%;
    z-index: 1;

    @mixin atSmall {
      justify-self: baseline;
      text-align: left;
      padding-left: 3rem;
      padding-bottom: 3rem;
    }
  }

  &__title {
    font-family: "Raleway", sans-serif;
    color: #fff;
    font-weight: 300;
    margin: 0;
    padding-bottom: 1rem;
    font-size: clamp(3rem, 3vw, 5em);

    span {
      display: block;

      @mixin atSmall {
        display: initial;
      }
    }
  }
}
