.page-section {
  padding: 1.2rem 0 0;

  @mixin atMedium {
    padding: 4.5rem 0 0;
  }

  &--services {
    @mixin atMedium {
      padding: 5.5rem 0;
    }

    & .section-title {
      grid-area: 1/1/2/1;
    }
  }

  .btn-container {
    text-align: center;
  }
}
