.page-section {
  padding: 1.2rem 0 0;

  @mixin atMedium {
    padding: 4.5rem 0 0;
  }

  &--services {
    padding: 5.5rem 0;

    & .section-title {
      grid-area: 1/1/2/1;
    }
  }

  /* &--contacts {
    display: grid;
    margin-top: 4.5rem;
    background: rgb(25, 25, 25);
    background: linear-gradient(
        90deg,
        rgba(25, 25, 25, 0.6),
        rgba(25, 25, 25, 0.6)
      ),
      url(../assets/images/contact_bg.png);

    @mixin atMedium {
      background: rgb(25, 25, 25);
      background: linear-gradient(
          90deg,
          rgba(25, 25, 25, 0) 20%,
          rgba(25, 25, 25, 0.9) 100%
        ),
        url(../assets/images/contact_bg.png);
    }
  } */

  .btn-container {
    text-align: center;
  }
}
