.section-title {
  font-size: 2.55rem;
  font-weight: 300;
  text-align: center;

  @mixin atSmall {
    font-size: 2.5rem;
  }

  &--red {
    color: $mainRed;
  }

  &--black {
    color: $mainBlack;
    font-weight: 400;
  }
}
