.service {
  display: grid;
  grid-template-columns: 1fr;

  &__bg-skew {
    display: none;
    opacity: 0;
    transition: all 0.3 ease-out;
    grid-area: 1/1/3/1;
    position: relative;
    height: 500px;
    overflow: hidden;
    transform: skewY(-10deg);
    z-index: -1;

    &::after {
      position: absolute;
      content: "";
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      background-color: rgba(25, 25, 25, 0.85);
      z-index: 2;
    }

    @mixin atMedium {
      display: block;
      opacity: 1;
    }
  }

  &__bg-img {
    display: block;
    width: 100%;
    height: 1000px;
    transform: skewY(10deg);
    position: relative;
    top: -50%;

    img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__container {
    grid-area: 2/1/3/1;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(276px, 1fr));
    grid-gap: 30px;
  }

  &__item {
    display: grid;
    grid-template-columns: 1fr;
    overflow: hidden;
    border-radius: 3px;

    &:hover  .service__img {
      transform: scale(1.1);
    }

    &:hover .service__title {
      background-color: rgba(110, 30, 32, 0.8);
    }
  }

  &__img {
    grid-area: 1/1;
    display: block;
    width: 100%;
    height: 300px;
    object-fit: cover;
    transform: scale(1);
    transition: transform .3s ease-out;
    z-index: -1;

  }

  &__title {
    grid-area: 1/1;
    align-self: end;
    justify-self: center;
    background-color: rgba(209, 59, 61, 0.8);
    width: 100%;
    text-align: center;
    font-weight: 300;
    padding: 1rem 0;
    margin: 0;

    a {
      color: #fff;
    }

  }
  
}
