.site-header {
  position: absolute;
  width: 100%;
  padding-top: 1rem;
  padding-bottom: 1rem;

  &__logo {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    width: 150px;
    @mixin atMedium {
      width: 150px;
    }
  }
}
