.wrapper {
  overflow: hidden;
  padding-left: 18px;
  padding-right: 18px;
  max-width: 1236px;
  margin-left: auto;
  margin-right: auto;

  &--medium {
    max-width: 800px;
  }

  &--centered {
    text-align: center;
  }

  &--gallery {
    width: 100%;
    max-width: 100%;

    @mixin atSmall {
      display: flex;
      flex-wrap: wrap;
    }
  }

  &--flex {
    display: flex;
  }

  &--footer {
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    @mixin atSmall {
      flex-direction: row;
    }
  }
}
